* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.grid-title {
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
}

.grid-row--item {
    display: flex;
    gap: 10px;
}

.grid-row--title {
    width: 125px;
    text-align: right;
}

.grid-row--btn {
    width: 18px;
    height: 18px;
    line-height: 16px;
    padding: 0;
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.init-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.add-player--btn {
    border-radius: 100%;
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 13px;
    background-color: #42A5F5;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 8px;
}
.clear--btn {
    border: none;
    border-radius: 10px;
    background-color: #42A5F5;
    font-size: 16px;
    color: white;
}

.restart--btn {
    border: none;
    border-radius: 10px;
    background-color: #EF5350;
    font-size: 16px;
    color: white;
}